body {
	 font-family:"open Sans", arial;
	 margin:0;
	 padding:0
	}
.cont{
	width: 3.958in;
	margin: 0in auto;
	border-radius:8px;
	background-color:#fff;
	border:2px solid #000;
	height:2.333in
}
.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: "."
}
.label{
	overflow: hidden;
	background-color:#fff;
	border-radius:8px;
	padding:10px 0px 3px 10px;
	}
.page-break  {
	clear: left;
	display:block;
	page-break-after:always;
	}
.part-1{ margin:0 0 8px}
.left-cont{ width:66%; float:left;}
.right-cont{ width:34%; float:right; text-align:center}
.right-cont img{ margin:0 0 6px 0; padding:0; line-height:0}
.part-1 .ship-label{ width:43%;font-size:13px; float:left;line-height:16px; word-wrap:break-word;font-family: 'Open Sans', sans-serif; font-weight:700; letter-spacing:.5px}
.part-1 .code{width:53%; font-size:13px; margin:0 2%;float:left; line-height:16px;word-wrap:break-word;font-family: 'Open Sans', sans-serif; font-weight:600;letter-spacing:.5px}