body {
	 font-family:"open Sans", arial;
	 margin:0;
	 padding:0
	}
.cont{
	width: /*3.958*/2.333in;
	margin: 0in auto;
	border-radius:8px;
	background-color:#fff;
	border:2px solid #000;

}
.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: "."
}
.label{
	overflow: hidden;
	background-color:#fff;
	border-radius:8px;
	padding:8px 0 4px 5px;
	}
.page-break  {
	clear: left;
	display:block;
	page-break-after:always;
	}
.part-1{ margin:0 0 4px}
.left-cont{ width:62%; float:left;}
.right-cont{ width:38%; float:right; text-align:center}
.right-cont img{ margin:0 0 2px 0; padding:0; line-height:0}
.part-1 .ship-label{ width:43%;font-size:7px; text-transform:uppercase; float:left;line-height:12px; word-wrap:break-word;font-family: 'Open Sans', sans-serif; font-weight:700; letter-spacing:.5px}
.part-1 .code{width:53%; font-size:7px; margin:0 2%;float:left; line-height:12px;word-wrap:break-word;font-family: 'Open Sans', sans-serif; font-weight:600;letter-spacing:.5px;text-transform:uppercase;}